<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ([^/].+)/([^/].+)/(.+)/$  index.php?m=$1&a=$2&q=$3 [L]
RewriteRule ([^/].+)/(.+)/$  index.php?m=$1&a=$2 [L]
RewriteRule space/(.+)$  index.php?m=space&q=$1 [L]
RewriteRule (.+)/$  index.php?m=$1 [L]
</IfModule>