<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Templates | 1on1speak.com</title>
<style type="text/css">
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.red{ color:#900;}
img{ border:0px; padding:0px;}
.tmp{ list-style:none;}
.tmp ul{ width:880px; list-style:none;}
.tmp ul li{ width:400px; border:solid 1px  #CCCCCC; padding:2px; float:left; display:block； list-style:none; margin:4px;}
.tmp ul li label{ width:400px; height:30px; font-size:14px; margin:auto;background:#F5F5F5; line-height:30px; display:block; text-align:center;}
</style>
</head>

<body>
<div style="background:#fefefe; margin:auto;border-bottom:1px solid #CCC; height:80px;"><img src="/resources/images/logo.png" /><label style="margin-left:400px; line-height:50px; margin-top:-50px; display:block; font-size:16px;">网站模板</label>
<div class="tmp">
	<ul>
        <li><a target="_blank" href="/resources/images/pages/index_new.jpg"><img src="/resources/images/show/index_new.jpg" /></a><label class="red">新版首页</label></li>
        <li><a target="_blank" href="/resources/images/pages/class_new.jpg"><img src="/resources/images/show/class_new.jpg" /></a><label class="red">新版授课页</label></li>
        <li><a target="_blank" href="/resources/images/pages/login_new.jpg"><img src="/resources/images/show/login_new.jpg" /></a><label class="red">新版登陆页</label></li>
        <li><a target="_blank" href="/resources/images/pages/reg_new.jpg"><img src="/resources/images/show/reg_new.jpg" /></a><label class="red">新版注册页</label></li>
        <li><a target="_blank" href="/resources/images/pages/control_panel_new.jpg"><img src="/resources/images/show/control_panel_new.jpg" /></a><label class="red">新版控制面版</label></li>
        
        <li><a target="_blank" href="/resources/images/pages/class_select_new.jpg"><img src="/resources/images/show/class_select_new.jpg" /></a><label class="red">新版选课</label></li>
        <li><a target="_blank" href="/resources/images/pages/balance_no_new.jpg"><img src="/resources/images/show/balance_no_new.jpg" /></a><label class="red">新版余额不足</label></li>
        <li><a target="_blank" href="/resources/images/pages/buy_class_new.jpg"><img src="/resources/images/show/buy_class_new.jpg" /></a><label class="red">新版购买课</label></li>
        <li><a target="_blank" href="/resources/images/pages/order_confirm_new.jpg"><img src="/resources/images/show/order_confirm_new.jpg" /></a><label class="red">新版确认订单</label></li>
        <li><a target="_blank" href="/resources/images/pages/recharge_new.jpg"><img src="/resources/images/show/recharge_new.jpg" /></a><label class="red">新版充值</label></li>
        
        <li><a target="_blank" href="/resources/images/pages/buy_success_new.jpg"><img src="/resources/images/show/buy_success_new.jpg" /></a><label class="red">新版购买成功</label></li>
        <li><a target="_blank" href="/resources/images/pages/pay_new.jpg"><img src="/resources/images/show/pay_new.jpg" /></a><label class="red">新版支付</label></li>
        
        
        
        
        
        
    	<li><a target="_blank" href="/resources/images/pages/index.jpg"><img src="/resources/images/show/index.jpg" /></a><label>首页</label></li>
        <li><a target="_blank" href="/resources/images/pages/reg_more_info.jpg"><img src="/resources/images/show/reg_more_info.jpg" /></a><label>注册-高级信息</label></li>
        <li><a target="_blank" href="/resources/images/pages/reg_info.jpg"><img src="/resources/images/show/reg_info.jpg" /></a><label>注册-初级信息</label></li>
        <li><a target="_blank" href="/resources/images/pages/login.jpg"><img src="/resources/images/show/login.jpg" /></a><label>登陆</label></li>
        
        <li><a target="_blank" href="/resources/images/pages/class_r.jpg"><img src="/resources/images/show/class_r.jpg" /></a><label>上课界面-课程结束评价</label></li>
        
        <li><a target="_blank" href="/resources/images/pages/reg_more_ok.jpg"><img src="/resources/images/show/reg_more_ok.jpg" /></a><label>高级信息注册成功</label></li>
        <li><a target="_blank" href="/resources/images/pages/balance_no.jpg"><img src="/resources/images/show/balance_no.jpg" /></a><label>充值-购课点数不足充值</label></li>
        <li><a target="_blank" href="/resources/images/pages/reg_ok.jpg"><img src="/resources/images/show/reg_ok.jpg" /></a><label>初级信息注册成功</label></li>
    	
        <li><a target="_blank" href="/resources/images/pages/buy_class.jpg"><img src="/resources/images/show/buy_class.jpg" /></a><label>课程中心-购课</label></li>
        <li><a target="_blank" href="/resources/images/pages/class_daquan.jpg"><img src="/resources/images/show/class_daquan.jpg" /></a><label>课程中心-课程大全</label></li>
        
        <li><a target="_blank" href="/resources/images/pages/class_p.jpg"><img src="/resources/images/show/class_p.jpg" /></a><label>上课界面-准备界面</label></li>
        <li><a target="_blank" href="/resources/images/pages/class_en_level.jpg"><img src="/resources/images/show/class_en_level.jpg" /></a><label>课程中心-确认英语水平</label></li>
        <li><a target="_blank" href="/resources/images/pages/class_info.jpg"><img src="/resources/images/show/class_info.jpg" /></a><label>课程中心-课程详情</label></li>
        <li><a target="_blank" href="/resources/images/pages/class_n.jpg"><img src="/resources/images/show/class_n.jpg" /></a><label>上课界面-上课中（未分享课件）</label></li>
        
        <li><a target="_blank" href="/resources/images/pages/class_select_level.jpg"><img src="/resources/images/show/class_select_level.jpg" /></a><label>课程中心-选择英语水平</label></li>
        <li><a target="_blank" href="/resources/images/pages/class_search.jpg"><img src="/resources/images/show/class_search.jpg" /></a><label>课程中心-搜索结果列表</label></li>
        
        <li><a target="_blank" href="/resources/images/pages/class.jpg"><img src="/resources/images/show/class.jpg" /></a><label>上课界面-上课中（分享课件）</label></li>
        <li><a target="_blank" href="/resources/images/pages/class_center.jpg"><img src="/resources/images/show/class_center.jpg" /></a><label>课程中心</label></li>
        <li><a target="_blank" href="/resources/images/pages/count_center.jpg"><img src="/resources/images/show/count_center.jpg" /></a><label>账户中心</label></li>
        <li><a target="_blank" href="/resources/images/pages/control_panel.jpg"><img src="/resources/images/show/control_panel.jpg" /></a><label>用户面板</label></li>
        
        <li><a target="_blank" href="/resources/images/pages/foreign_teacher.jpg"><img src="/resources/images/show/foreign_teacher.jpg" /></a><label>精品外教</label></li>
        <li><a target="_blank" href="/resources/images/pages/myinfo.jpg"><img src="/resources/images/show/myinfo.jpg" /></a><label>个人信息</label></li>
        <li><a target="_blank" href="/resources/images/pages/order_confirm.jpg"><img src="/resources/images/show/order_confirm.jpg" /></a><label>订单确认页面</label></li>
        <li><a target="_blank" href="/resources/images/pages/pay_success.jpg"><img src="/resources/images/show/pay_success.jpg" /></a><label>课程中心-购课成功</label></li>
        <li><a target="_blank" href="/resources/images/pages/pay_ok.jpg"><img src="/resources/images/show/pay_ok.jpg" /></a><label>支付成功</label></li>
        
        <li><a target="_blank" href="/resources/images/pages/payment.jpg"><img src="/resources/images/show/payment.jpg" /></a><label>充值-选择付费方式</label></li>
        <li><a target="_blank" href="/resources/images/pages/recharge.jpg"><img src="/resources/images/show/recharge.jpg" /></a><label>充值-直接充值-填写充值点数</label></li>
        <li><a target="_blank" href="/resources/images/pages/recommd_success.jpg"><img src="/resources/images/show/recommd_success.jpg" /></a><label>评价成功</label></li>
        <li><a target="_blank" href="/resources/images/pages/teacher_center.jpg"><img src="/resources/images/show/teacher_center.jpg" /></a><label>教师列表页-我的关注</label></li>
        <li><a target="_blank" href="/resources/images/pages/teacher_info.jpg"><img src="/resources/images/show/teacher_info.jpg" /></a><label>教师列表页-个人信息</label></li>
        <li><a target="_blank" href="/resources/images/pages/teacher_search.jpg"><img src="/resources/images/show/teacher_search.jpg" /></a><label>教师列表页-搜索结果</label></li>
       
    </ul>
</div>
</body>
</html>
