<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>用户中心</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="description" content="" />
        <meta name="author" content="stilearning" />
		<link rel="stylesheet" href="lib/bootstrap-3.0.0-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="resources/css/matrix-style.css" />
		<link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />


		<style type="text/css">

		body{
			background:#EFEFEF;
		}
		.tabs {
			height: 41px;
			position: relative;
			border: 1px solid #d3d3d3;
			margin-bottom: 10px;
			background-color: white;
		}
		
		.when {
			list-style-type: none;
			margin:0px;
			padding:0px;
		}

		.when li {
			color: #888;
			float: left;
			padding: 10px;
			border-right: 1px solid #CCC;
		}


		.tabs .when li.selected {
			font-weight: bold;
			color: #565656;
		}

		</style>



	</head>
	<body>
			<div class="tabs">
				<ul class="when">
				  <li class="active selected"><a href="#userinfo" data-toggle="tab">个人信息</a></li>
				  <li><a href="#purchis" data-toggle="tab">购买记录</a></li>
				</ul>
			</div>
			

			<div class="tab-content">
			  <!--upcoming panel begin-->
			  <div class="tab-pane active" id="userinfo">
	
			  </div>
			  <!--upcoming panel end-->	
			  <!--recorded panel beging-->
			  <div class="tab-pane" id="purchis">
					
			  </div>
			  <!--recorded panel end-->
			</div>



		<script src="lib/js/jquery.js"></script>
		<script src="lib/bootstrap-3.0.0-dist/js/bootstrap.js"></script>

		<script>

		</script>


	</body>
</html>
